<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="1ad06b9e-6792-4440-a9fe-133d14c8767f" Version="1.0.0.0" Publisher="CN=adam" />
  <Properties>
    <DisplayName>PhotoAlbum</DisplayName>
    <PublisherDisplayName>adam</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <VisualElements DisplayName="PhotoAlbum" Logo="images\logo.png" SmallLogo="images\small.png" Description="PhotoAlbum" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="images\splashscreen.png" />
      </VisualElements>
      <Extensions>
        <Extension Category="windows.fileTypeAssociation">
          <FileTypeAssociation Name="png">
            <DisplayName>PNG Image</DisplayName>
            <Logo>images\pngLogo.png</Logo>
            <InfoTip>PNG Image</InfoTip>
            <EditFlags OpenIsSafe="true" />
            <SupportedFileTypes>
              <FileType>.png</FileType>
            </SupportedFileTypes>
          </FileTypeAssociation>
        </Extension>
        <Extension Category="windows.fileTypeAssociation">
          <FileTypeAssociation Name="jpg">
            <DisplayName>JPG Image</DisplayName>
            <Logo>images\jpgLogo.png</Logo>
            <InfoTip>JPG IMage</InfoTip>
            <EditFlags OpenIsSafe="true" />
            <SupportedFileTypes>
              <FileType>.jpg</FileType>
            </SupportedFileTypes>
          </FileTypeAssociation>
        </Extension>
        <Extension Category="windows.fileSavePicker">
          <FileSavePicker>
            <SupportedFileTypes>
              <FileType>.png</FileType>
              <FileType>.jpg</FileType>
            </SupportedFileTypes>
          </FileSavePicker>
        </Extension>
        <Extension Category="windows.fileOpenPicker">
          <FileOpenPicker>
            <SupportedFileTypes>
              <FileType>.jpg</FileType>
              <FileType>.png</FileType>
            </SupportedFileTypes>
          </FileOpenPicker>
        </Extension>
        <Extension Category="windows.shareTarget">
          <ShareTarget>
            <SupportedFileTypes>
              <FileType>.png</FileType>
              <FileType>.jpg</FileType>
            </SupportedFileTypes>
          </ShareTarget>
        </Extension>
        <Extension Category="windows.autoPlayContent">
          <AutoPlayContent>
            <LaunchAction Verb="addpictures" ActionDisplayName="Add to Photo Album" ContentEvent="ShowPicturesOnArrival" />
            <LaunchAction Verb="addmixed" ActionDisplayName="Add to Photo Album" ContentEvent="MixedContentOnArrival" />
            <LaunchAction Verb="addstorage" ActionDisplayName="Add to Photo Album" ContentEvent="StorageOnArrival" />
          </AutoPlayContent>
        </Extension>
        <Extension Category="windows.protocol">
          <Protocol Name="photoalbum" />
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="picturesLibrary" />
    <Capability Name="removableStorage" />
    <Capability Name="internetClient" />
  </Capabilities>
</Package>